/* Modern Reset */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Nunito:wght@400&family=Red+Hat+Mono&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Mochiy Pop P One', sans-serif; */
  /* font-family: 'Red Hat Mono', monospace; */
}

h2{
  text-align: center;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* Set core body defaults */

body {
  /* max-height: 100vh; */
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.body::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.body::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.body::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  border-radius: 8px;
}

.light-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.08);
}
.form-stack > * + * {
  margin-top: 0.5rem;
}

.form-stack > label {
  display: block;
}

.form-stack > input {
  width: auto;
}
.form-stack {
  padding: 8px;
}

.center {
  border: 1px solid rgb(235, 225, 225);
  border-radius: 4px;
  padding: 8px;
}

.grid-container {
  /* min-width: 100vw; => maybe to be removed */ 
  max-height: 100vh;
  display: grid;
  grid-template:
    "header header header header header" 75px
    ". left-aside main right-aside ." 1fr /
    0.125fr 1fr 2fr 1fr 0.125fr;
  gap: 5px;
  /*
  => SPARES <=
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 
  background: linear-gradient(to right, #E1F5C4, #EDE574);
  */
background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);

}

.header {
  grid-area: header;
  /* border: 1px dotted black; */
}

.logo { 
  max-width: 40px;
}

/* LEFT ASIDE => TRAINERS */
.left-aside {
  grid-area: left-aside;
  /* border: 1px dotted black; */
}

.trainers-list {
  display: grid;
  max-height: 65vh ;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 15px;
  gap:10px;
}

.trainers-list::-webkit-scrollbar{ /* removes the scrollbar, though still scrolable */
 display: none;
}

.add-trainer{
  display: grid;
  max-height: 30vh ;
}

.grid-gap{
  display: grid;
  justify-content: end;
}


/* CENTRE */
.main {
  grid-area: main;
}

.classes-list{
  display: grid;
  max-height: 87vh ;
  overflow-x: hidden;
  overflow-y: auto;
  /* gap:10px; */
}

.classes-list::-webkit-scrollbar{ /* removes the scrollbar, though still scrolable */
  display: none;
 }
 .one-class-dashboard-buttons{
   gap: 10px;
   display: inline-flex;
   align-items: center;
   justify-content: flex-end;
  }
   
/* RIGHT ASIDE => MEMBERS LIST */
.right-aside {
  grid-area: right-aside;
  /* border: 1px dotted black; */
}
.members-list { 
  display: grid;
  max-height: 87vh ;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 15px;
  gap:10px;
}

.members-list::-webkit-scrollbar{ /* removes the scrollbar, though still scrolable */
  display: none;
 }
 
 /* REUSABLE */
 .align-end{
   align-self: end;
 }

.border-for-li {
  border: 1px solid rgb(17, 1, 1);
  border-radius: 8px;
  width: 100%;
  padding: 8px;
  justify-self: center;
  cursor: pointer;
  transition: all 300ms;
}

.centre-card {
  border: 1px solid rgb(17, 1, 1);
  border-radius: 8px;
  width: 100%;
  padding: 8px;
  justify-self: center;
  cursor: pointer;
  transition: all 300ms;
}
.border-for-li:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.two-column-grid-expand__right {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}
.two-row-grid {
  display: grid;
  /* grid-template-columns: 1fr auto; */
  grid-template-rows: 1fr auto;
  gap: 5px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 275px);
  gap: 15px;
  justify-content: center;
  justify-items: center;
  /* padding: 24px 0; */
  margin-bottom: 24px;
}

.card--text {
  margin: 0.2rem;
  padding: 1rem;

  border-radius: 5px;
}

.card--img {
  display: block;
  margin: 0 auto;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.padding{ 
  padding: 10px;
}

.padding-left{
  padding-left: 10x;
}

/* member */
.member-avatar img { 
  max-width: 200px;
}

.switch-centre-container { 
  display: grid;
  padding-top : 40px;
}

.view-member-details { 
  display: grid;
  justify-content: center;
  grid-row-gap: 30px;
}